# .coveragerc to control coverage.py
[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit this single file
    registry/__init__.py
    registry/config/__init__.py
    registry/utils/__init__.py
    registry/endpoints/__init__.py
    aggregator/__init__.py
    aggregator/config/__init__.py
    aggregator/utils/__init__.py
    aggregator/endpoints/__init__.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if not args:

    # uncovered custom SSL/TLS functions
    # we use a reverse proxy and these functions are not actually used
    def load_certs
    def application_security
    async def request_security


ignore_errors = True
