asyncio==3.4.3
aiohttp==3.8.6
aiohttp-cors==0.7.0
aiocache==0.12.2
aiomcache==0.8.1
ujson==5.8.0
uvloop==0.14.0; python_version < '3.7'
uvloop==0.17.0; python_version >= '3.7'
asyncpg==0.28.0
jsonschema==4.19.1
gunicorn==21.2.0
