asyncio==3.4.3
aiohttp==3.8.3
aiohttp-cors==0.7.0
aiocache==0.11.1
aiomcache==0.7.0
ujson==5.5.0
uvloop==0.14.0; python_version < '3.7'
uvloop==0.17.0; python_version >= '3.7'
asyncpg==0.26.0
jsonschema==4.16.0
gunicorn==20.1.0
