<div ng-controller="ViewCtrl as ctrl">
<div id="beaconLogin" id="popupContainer">
  <a href="#!/about">
    <md-button class="md-raised md-primary">
      <i class="fas fa-info-circle"></i>
      <span style="margin:auto">About</span>
    </md-button>
  </a>
  <span ng-if="checkLogin()">
    <a ng-if="checkLogin() && !checkBonaFide()" href="https://www.elixir-europe.org/services/compute/aai/bonafide" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-hand-point-right"></i> Discover more as Bona
      Fide!</a>
    <a ng-if="checkLogin() && checkBonaFide()" href="#" class="btn btn-success disabled" tabindex="-1" role="button" aria-disabled="true">Bona Fide</a>
    <a ng-if="checkLogin()" href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">User Authenticated</a>
  </span>
  <span ng-if="!checkLogin()">
    <a ng-href="{{ ctrl.aaiUrl }}">
      <img width="150" src="assets/elixir-login-new.png" title="ELIXIR AAI" />
    </a>
  </span>
</div>
<div id="beaconLogo">
  <a href="#"><img id="logo" src="assets/beacon-small-3.png" /></a>
</div>
<div class="col-sm-12" ng-cloak>
  <div class="card search-card">
    <div class="card-body">
      <div class="searchForm" layout="column">
        <md-content class="md-padding">
          <form name="searchForm" ng-submit="submit('basic')" class="form-inline">
            <div layout-gt-sm="row" class="searchRow" id="basicSearch">
              <md-input-container>
                <md-select ng-model="assembly.selected" aria-label="Gene/Variant Select">
                  <md-option value="GRCh38" ng-selected="true">GRCh38</md-option>
                  <md-option value="GRCh37">GRCh37</md-option>
                  <md-option value="hg19">hg19</md-option>
                </md-select>
              </md-input-container>
              <!-- Old autocomplete search bar, look into replacing with a simple search bar? -->
              <md-autocomplete flex md-selected-item="ctrl.selectedItem" md-input-name="autocompleteField" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-selected-item="ctrl.selectedItem" md-item-text="item.name"
                md-min-length="0" class="searchBox" md-input-minlength="2" md-input-id="autoCompleteId" md-delay="300" md-menu-class="autocomplete-custom-template" md-menu-container-class="custom-container" md-floating-label="Chromosome : Position ReferenceBase > AlternateBase|VariantType">
              </md-autocomplete>
              <md-input-container>
                <md-button type="submit" name="submit" id="submit" value="Submit" class="md-raised md-primary" aria-label="Search">
                  <i class="fas fa-search"></i>
                  Search
                </md-button>
              </md-input-container>
            </div>
          </form>
          <form name="advancedSearchForm" ng-submit="submit('advanced')" class="form-inline">
            <div id="advancedSearch" style="margin:auto">
              <h4 style="width:100%">Assembly and Chromosome</h4>
              <div layout-gt-sm="row" class="searchRow">
                <md-input-container style="width:45%">
                  <label>Assembly</label>
                  <md-select ng-model="adv.assembly" aria-label="Gene/Variant Select" required>
                    <md-option value="GRCh38">GRCh38</md-option>
                    <md-option value="GRCh37">GRCh37</md-option>
                    <md-option value="hg19">hg19</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container style="width:45%">
                  <label>Chromosome</label>
                  <md-select ng-model="adv.chr" aria-label="Chromosome Select" required>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">3</md-option>
                    <md-option value="6">2</md-option>
                    <md-option value="7">3</md-option>
                    <md-option value="8">2</md-option>
                    <md-option value="9">3</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="11">11</md-option>
                    <md-option value="12">12</md-option>
                    <md-option value="13">13</md-option>
                    <md-option value="14">14</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="16">16</md-option>
                    <md-option value="17">17</md-option>
                    <md-option value="18">18</md-option>
                    <md-option value="19">19</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="21">21</md-option>
                    <md-option value="22">22</md-option>
                    <md-option value="X">X</md-option>
                    <md-option value="Y">Y</md-option>
                    <md-option value="MT">MT</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <h4 style="width:100%">Coordinates</h4>
              <md-radio-group ng-model="adv.coordBase" layout="row">
                <md-radio-button value="0" class="md-primary" ng-selected="true" title="Beacons typically expect 0-based">0-based</md-radio-button>
                <md-radio-button value="1" class="md-primary" title="Basic search in UI uses this, human-friendly case">1-based</md-radio-button>
              </md-radio-group>
              <div layout-gt-sm="row" class="searchRow">
                <md-input-container style="width:30%">
                  <label>Start</label>
                  <input type="number" min="0" name="advStart" id="advStart" ng-model="adv.start" ng-change="ctrl.manageAdvancedSearchOptions()" title="Exact start position of variant">
                </md-input-container>
                <span style="margin:auto">or</span>
                <md-input-container style="width:30%">
                  <label>Min. Start</label>
                  <input type="number" min="0" name="advStartMin" id="advStartMin" ng-model="adv.startMin" ng-change="ctrl.manageAdvancedSearchOptions()" title="Minimum start position of variant (fuzzy boundaries)">
                </md-input-container>
                <span style="margin:auto">..</span>
                <md-input-container style="width:30%">
                  <label>Max. Start</label>
                  <input type="number" min="0" name="advStartMax" id="advStartMax" ng-model="adv.startMax" ng-change="ctrl.manageAdvancedSearchOptions()" title="Maximum start position of variant (fuzzy boundaries)">
                </md-input-container>
              </div>
              <div layout-gt-sm="row" class="searchRow">
                <md-input-container style="width:30%">
                  <label>End</label>
                  <input type="number" min="0" name="advEnd" id="advEnd" ng-model="adv.end" ng-change="ctrl.manageAdvancedSearchOptions()" title="Exact start position of variant">
                </md-input-container>
                <span style="margin:auto">or</span>
                <md-input-container style="width:30%">
                  <label>Min. End</label>
                  <input type="number" min="0" name="advEndMin" id="advEndMin" ng-model="adv.endMin" ng-change="ctrl.manageAdvancedSearchOptions()" title="Minimum end position of variant (fuzzy boundaries)">
                </md-input-container>
                <span style="margin:auto">..</span>
                <md-input-container style="width:30%">
                  <label>Max. End</label>
                  <input type="number" min="0" name="advEndMax" id="advEndMax" ng-model="adv.endMax" ng-change="ctrl.manageAdvancedSearchOptions()" title="Maximum end position of variant (fuzzy boundaries)">
                </md-input-container>
              </div>
              <h4 style="width:100%">Variant Transformation</h4>
              <div layout-gt-sm="row" class="searchRow">
                <md-input-container style="width:30%">
                  <label>Reference Bases</label>
                  <input required pattern="[ATCGN]+" name="advRef" ng-model="adv.ref" title="Can be any combination of ACTGN">
                </md-input-container>
                <span style="margin:auto"> > </span>
                <md-input-container style="width:30%">
                  <label>Alternate Bases</label>
                  <input pattern="[ATCGN]+" name="advAlt" id="advAlt" ng-model="adv.alt" ng-change="ctrl.manageAdvancedSearchOptions()" title="Can be any combination of ACTGN">
                </md-input-container>
                <span style="margin:auto">or</span>
                <md-input-container style="width:30%">
                  <label>Variant Type</label>
                  <md-select ng-model="adv.vt" name="advVt" id="advVt" ng-change="ctrl.manageAdvancedSearchOptions()" aria-label="Variant Type Select">
                    <md-option value="Unspecified">Unspecified</md-option>
                    <md-option value="SNP">SNP</md-option>
                    <md-option value="MNP">MNP</md-option>
                    <md-option value="INS">INS</md-option>
                    <md-option value="DEL">DEL</md-option>
                    <md-option value="INV">INV</md-option>
                    <md-option value="DUP">DUP</md-option>
                    <md-option value="CNV">CNV</md-option>
                    <md-option value="DUP:TANDEM">DUP:TANDEM</md-option>
                    <md-option value="DEL:ME">DEL:ME</md-option>
                    <md-option value="INS:ME">INS:ME</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <!-- Need an API to populate datasets menu, also the includeDatasetResponses is kinda useless -->
              <h4 style="width:100%;color:#8C8C8C;">Dataset Options</h4>
              <div layout-gt-sm="row" class="searchRow">
                <md-input-container style="width:45%">
                  <label>Datasets</label>
                  <md-select ng-model="adv.ds" aria-label="Dataset Select" disabled>
                    <md-option value="ALL">All</md-option>
                    <md-option value="urn:hg:1000genome">urn:hg:1000genome</md-option>
                    <md-option value="urn:hg:example-registered">urn:hg:example-registered</md-option>
                    <md-option value="urn:hg:example-controlled">urn:hg:example-controlled</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container style="width:45%">
                  <label>Dataset Responses</label>
                  <md-select ng-model="adv.resp" aria-label="Response Select" disabled>
                    <md-option value="ALL">All</md-option>
                    <md-option value="HIT">Only hits</md-option>
                    <md-option value="MISS">Only misses</md-option>
                    <md-option value="NONE">None (tells only if dataset exists)</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <md-input-container style="float:right">
                <md-button type="button" name="advReset" id="advReset" value="advReset" class="md-raised md-warn" ng-click="advResetForm()" aria-label="Reset">
                  <i class="fas fa-trash-alt"></i>
                  Reset
                </md-button>
                <md-button type="submit" name="advSubmit" id="advSubmit" value="advSubmit" class="md-raised md-primary" aria-label="Search">
                  <md-tooltip>Beta Use</md-tooltip>
                  <i class="fas fa-search"></i>
                  Search
                </md-button>
            </md-input-container>
            </div>
          </form>
        </md-content>
      </div>
      <div id="searchExample">
          <md-checkbox class="md-primary filter-hits" ng-model="hitsOnly" ng-true-value="{exists:true}" ng-false-value="">
              Show hits only
          </md-checkbox>
          <a href="" ng-click="ctrl.toggleSearchOptions(ctrl.searchOptions)">{{ ctrl.searchOptions }}</a>
          |
          <a href="" ng-click="searchExample('variant')">Show Example</a>
      </div>
    </div>
    <hr />
  </div>
  <div class="autocomplete-error alert alert-primary" ng-if="ctrl.searchClick && !ctrl.selectedItem">
    For variant search use the following search structure (including spaces):
    <em>{Chromosome} : {Position} {ReferenceBases} > {AlternateBases|VariantType}</em>
  </div>
  <div ng-if="ctrl.selectedItem && ctrl.searchClick && url.includes('referenceName')" class="row result-row">
    <md-card class="resultCard" ng-repeat="datum in ctrl.message | filter:hitsOnly">
      <md-card-header class="cardItem" id="topCard">
        <md-card-header-text>
          <span class="md-title">{{datum.beaconId}} <span class="beacon-api-version">{{datum.apiVersion}}</span></span>
          <span ng-if="datum.datasetAlleleResponses.length" class="found-badge color-green">Found</span>
          <span ng-if="!datum.datasetAlleleResponses.length" class="found-badge color-red">Not Found</span>
        </md-card-header-text>
      </md-card-header>
      <div ng-if="!datum.datasetAlleleResponses.length"><md-card-content>No datasets were found with matching variants.</md-card-content></div>
      <div ng-repeat="(key, value) in datum.datasetAlleleResponses | filter:{exists:true} | groupBy: '[datasetId,externalUrl, note]'" class="cardItem">
        <md-card-content>
          <h5>{{ value[0].datasetId }}
            <span ng-class="{'color-red': value[0].info.accessType === 'CONTROLLED',
        'color-orange': value[0].info.accessType === 'REGISTERED',
        'color-green': value[0].info.accessType === 'PUBLIC'}" class="accesstype">{{ value[0].info.accessType }}</span></h5>
          <div>
            <a target="_blank" ng-href="{{ value[0].externalUrl }}">
              Dataset URL
              <i class="fas fa-external-link-alt"></i>
            </a></div>
          <p id="datasetNote">{{ value[0].note }}</p>
          <table class="table table-bordered shadow-z-1">

            <thead>
              <tr>
                <th>Variant Type</th>
                <th>Reference Bases</th>
                <th>Alternate Bases</th>
                <th>Allele Count</th>
                <th>Frequency (approx.)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dataset in value">

                <td>{{ dataset.variantType }}<span ng-if="!dataset.variantType">{{ datum.alleleRequest.variantType }}</span></td>
                <td>{{ dataset.referenceBases }}<span ng-if="!dataset.referenceBases">{{ datum.alleleRequest.referenceBases }}</span></td>
                <td>{{ dataset.alternateBases }}<span ng-if="!dataset.alternateBases">{{ datum.alleleRequest.alternateBases }}</span></td>
                <td>{{ dataset.variantCount > 0 ? dataset.variantCount : "n/a" }}</td>
                <td>{{ dataset.frequency > 0 ? dataset.frequency : "n/a" }}</td>

              </tr>
            </tbody>
          </table>
        </md-card-content>
        <hr />
      </div>
      <md-card-actions layout="column" layout-align="start" class="cardItem">
      </md-card-actions>
    </md-card>
  </div>
  <div ng-if="ctrl.loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div style="text-align:center">
    <div ng-if="ctrl.message.message">{{ctrl.message.message}}</div>
  </div>
  <div ng-show="alertType" id="fixedInfo" uib-alert class="alert alert-success" role="alert">
    <h4 class="alert-heading">Elixir Beacon Network Prototype</h4>
    <p class="mb-0">This prototype web application utilises cookies. By using this service you accept the cookies and agree to store the cookies in your browser's memory temporarily.</p>
    <button type="button" class="btn btn-success btn-sm btn-acceptCookie" ng-click="acknowledge()">
      Acknowledge
    </button>
  </div>
</div>
</div>
