.search-card {
	/* border-top: 5px solid #F57C20; */
	width: 80%;
	margin: 0 auto;
	/* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); */
	border: none;
}

.search-card .card-body {
	padding:0;
}

#searchExample {
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 1em;
	color: #888;
}

.autocomplete-error {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

/* .top-bar {
	float: right;
	margin: 5px;
} */

.page-menu {
	/* text-align: center; */
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-space-between;
	width: 97%;
	margin-bottom: 10px;
}
.page-menu div:first-child {
	width: 15%;
}
.page-menu div:last-child {
	width: 15%;
	font-size: 0.8em;
}
.page-menu div {
	flex-grow: 1;
	width: 65%;
}

.page-menu div pagination {
	margin:0 auto;
	width: 50%;
}

.page-info {

}

#pagination-container {
	width: 325px;
	overflow-x: auto;
}

/* 3.3.7 -> 4.0.0 */

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
	border-color: #337ab7;
}

.alt-pagination-sm > li > a,
.alt-pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.alt-pagination-sm > li:first-child > a,
.alt-pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.alt-pagination-sm > li:last-child > a,
.alt-pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

md-card-content {
	position: relative;
}

md-card-content > div {
	position: absolute;
	top:20px;
	right: 10px;
}

#datasetNote {
	color: #787878;
}

/* md-card-content ul {
	padding: 0;
	margin: 0;
}

md-card-content ul li {
	list-style-type: none;
	font-size: 0.9em;
} */

.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  background-color: #fff;
	font-size:0.9em;
}
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: right;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead  {
	background-color: #fafafa;
}
.table > thead > tr > th {
	font-weight: bold;
	color: #5f6368;
	vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table .table {
  background-color: #fff;
}
.table .no-border {
  border: 0;
}

.row-backbordered:before{
	content:'';
	position:absolute;
	display:block;
	top:45%;
	left:-1000px;
	right:-1000px;
	height:1px;
	background-color:#dcdfe4
}

.row-backbordered {
	position: relative;
}

/* .search-input {
	width: 500px !important;
} */

.color-green {
  color: green;
}

.color-orange {
  color: orange;
}

.color-red {
  color: red;
}

.icon_animation {
	-webkit-animation: spin 2s linear infinite;
	color: #F57C20;
	font-size: 50px;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

#beaconLogin {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#beaconLogin .btn {
	margin-top: 6px;
}

#beaconLogin span:last-child {
  margin-left: auto;
	margin-right: 10px;
}

#beaconLogin img {
	height: 55px;
	width: auto;
}

.result-row {
	width: 85%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	align-items:baseline;
}

.result-row .resultCard {
	width:90%;
	min-width: 250px;
	margin: 8px 10px;
	order: 1;
	flex-grow: 1;
	/* flex-direction: row; */
}

.result-row .resultCardRow {
	width: 100%;
	min-width: 250px;
	margin: 8px 10px;
	order: 1;
	flex-direction: row;
	flex-grow: 1;
}

#rowOrientation i {
	cursor: pointer;
}

.result-row .cardItem {
	flex-grow: 1;
}
md-card #topCard {
	background: #2196f3;
	color: white;
	border-top: solid 4px #1769aa;
	box-shadow: #cccccc 0px 2px 5px 0px;
}

.result-row .resultCard span.md-title {
	font-size: 1.1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 300px;
	font-weight: bold;
}

.beacon-api-version {
	padding-left: 5px;
	font-size: 0.8em;
	color: #ffac33;
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
	color: rgba(255,255,255,0.87);
	background-color: rgb(33, 150, 243);
}

.result-row .resultCard md-card-header-text {
	overflow: hidden;
	position: relative;
}

.result-box {
	border: 1px solid #CCC;
	margin: 7px;
	padding: 7px;
	border-radius: 5px;
	border-top: 5px solid #F57C20;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.result-box:hover {
	background-color: #F9F9F9;
}

.result-header {
	border-bottom: 1px solid #CCC;
	font-size: 22px;
	font-weight: bold;
}

.result-contents {

}

.beacon-container {
	border: 1px solid #CCC;
	margin: 7px;
	padding: 7px;
	border-radius: 5px;
	border-top: 5px solid #F57C20;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.beacon-header {
	border-bottom: 1px solid #CCC;
	font-size: 22px;
	font-weight: bold;
}

.beacon-content {

}

.user-logged-in {
	color: #F57C20;
}

.searchForm {
	width: 85%;
	margin: 0 auto;
}
.searchForm md-content {background: #fff;}

.searchRow {
	width: 100%;
}
.searchSelect {
	width: 25%;
}
.searchBox {
	width: 80%;
	height:10px;
}

md-autocomplete#custom-template {
  width: 200px;
}
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  /* height: auto; */
  /* padding-top: 8px;
  padding-bottom: 8px; */
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-type {
	float:left;
	margin:0 10px 0 0;
	padding: 15px 10px 0px 10px;
	height: 50px;
	width: 75px;
	background-color: #ccc;
	text-transform: capitalize;
	text-align: center;
}
.autocomplete-custom-template .item-title {
	float:left;
	font-size: 1.2em;
	padding-top: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 65%;
}
.autocomplete-custom-template .item-title span {
 }

.autocomplete-custom-template .item-metadata {
	float: right;
	font-size: 0.9em;
}
.autocomplete-custom-template .item-metadata span {
	display: block;
	margin:3px 0 0 0;
	padding: 0;
	width:120px;
	text-align: left;
	color: #777;
	font-weight: 500;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  /* line-height: 2; */
}

.md-autocomplete-suggestions-container .md-autocomplete-suggestions li {
  line-height: inherit;
  height: 50px;
	padding: 0;
}

#beaconLogo {
	margin:10px auto;
	width: 300px;
}

#beaconLogo a img {
	width: 300px;
}

.custom-container {
  min-width: 300px !important;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.btn-acceptCookie {
	float: right;
}

#fixedInfo {
	position: fixed;
	left:30%;
	bottom: 7px;
	width: 40%;
	z-index: 1;
	margin: 0;
}

#fixedInfo h4 { font-size: 1.1em;}
#fixedInfo p { font-size: 0.9em;}
#fixedInfo button {margin-top: 5px;}

.accesstype {
	font-size: 0.8em;
	/* color: #F57C20; */
	/* font-weight: bold; */
}

.filter-hits {
	float: left;
}

.about-button {
	color: #FFF;
	background-color: rgb(33, 150, 243);
	padding: 5px;
	margin: 3px;
	border-radius: 5px;
	text-decoration: none;
}

.about-row {
	width: 85%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	align-items:baseline;
}

.found-badge {
	background-color: #FFF;
	border-radius: 4px;
	padding: 0px 5px;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	font-size: 0.8em;
}
